@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Background image -->
    <body
    class="bg-image"
    style="
    background-image: url('https://images.ctfassets.net/swt2dsco9mfe/2tUJTVIdSiWIs9uNn9VGoC/2d70a1b9de8a84aba8c248da04fa991d/1280x960-terrain-wa.jpg');
    height: 100vh;
    ">
    <h1 style="color:white;"class="display-2">Welcome</h1>
    <h2 style="color:white;"class="display-5">to the home of the DND Adventure game CRUD database</h2>
    <h3 style="color:white;"class="display-8">Companion site to the DND Adventure Game console application. This is the place to easily create, update and delete enemies through the "Enemies" page. All of the changes you make here will be reflected in the game the next time you start playing.</h3>
    <h1 style="color:white;"class="display-2">Enjoy!</h1>
    <p style="color:white;">Game and site created by James Yarbrough</p>
</body>
<!-- Background image -->
    <footer>
        <p style="color:white;">image source https://images.ctfassets.net/swt2dsco9mfe/2tUJTVIdSiWIs9uNn9VGoC/2d70a1b9de8a84aba8c248da04fa991d/1280x960-terrain-wa.jpg</p>
    </footer>
</div>
